@import "styles/variables";

.TeamMemberContainer {
  position: relative;
  padding-top: 5em;
  max-width: 400px;
  .TeamMemberOutline {
    background: linear-gradient(to bottom, $white, transparent);
    border-radius: 25px;
    padding: 2px;
    height: 100%;

    .TeamMember {
      background: lighten($dark, 5);
      padding: 7rem 1rem 4rem;
      border-radius: 25px;
      height: 100%;

      .ImageContainer {
        position: absolute;
        top: 0;
        left: 50%;
        right: 0;
        width: 10em;
        transform: translateX(-50%);
        display: inline-block;
        > span {
          border-radius: 50%;
          overflow: hidden;
          margin: auto;
          max-width: 100%;
        }
      }

      h3 {
        font-size: 2.5em;
        font-weight: 600;
        line-height: 0.9;
        margin-bottom: 0.2rem;
      }
      label {
        font-size: 1.8em;
        line-height: 0.9;
        font-weight: 300;
        margin-bottom: 0.5rem;
      }
      p {
        font-size: 1.5em;
        font-weight: 300;
        color: $gray-500;
        margin-bottom: 0.5rem;
        line-height: 1.3;
      }

      .Socials {
        position: absolute;
        text-align: center;
        left: 0;
        bottom: 1em;
        right: 0;
        a {
          margin: 1em;
          span {
            transition: all 0.3s;
          }
          &:hover {
            > span {
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 1600px) {
    font-size: 0.8rem;
    .TeamMemberOutline {
      .TeamMember {
        padding: 6rem 1rem 3.5rem;
      }
    }
  }

  @media screen and (max-width: 1400px) {
    font-size: 0.7rem;
    .TeamMemberOutline {
      .TeamMember {
        padding: 4rem 0.5rem 3rem;
      }
    }
  }
  @media screen and (max-width: 991px) {
    .TeamMemberOutline {
      .TeamMember {
        padding: 4rem 0.5rem 4rem;
      }
    }
  }
}
