@import "styles/variables";

.Roadmap {
  padding: 6em 2em 8em;
  user-select: none;

  .RoadmapContainer {
    position: relative;
    transition: all 0.3s ease-in-out;

    .TimeRoad {
      width: calc(100% - 55px);
      height: 300px;
      margin-right: 0;
      margin-left: auto;
      margin-top: 250px;
      background-image: linear-gradient(
        to top,
        transparentize($primary, 0.95),
        transparent
      );
      .Road {
        position: relative;
        height: 300px;
        overflow-x: clip;
        overflow-y: visible;
        .Events {
          display: block;
          transition: all 0.3s;
          position: absolute;
        }
        .Scroller {
          position: absolute;
          bottom: -5em;
          right: 0;
          left: 0;
          .Left,
          .Right {
            position: absolute;
            bottom: 0;
            line-height: 0;
            padding: 0.7em 1em;
            border-radius: 8px;
            border: none;
            i {
              font-size: 2em;
            }
          }
          .Left {
            left: 0;
          }
          .Right {
            right: 0;
          }
        }

        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          right: 0;
          left: 0;
          height: 5px;
          background-color: $primary;
        }
      }
    }
  }
}
